RewriteEngine On

RewriteRule ^accueil$ /include/index.inc.php [L]

RewriteRule ^chirurgies$ /include/surgeries.inc.php [L]
RewriteRule ^chirurgies/([0-9]+)$ /include/surgery.inc.php?id=$1 [L]

RewriteRule ^patients$ /include/patients.inc.php [L]
RewriteRule ^patients/([0-9]+)$ /include/patient.inc.php?id=$1 [L]

RewriteRule ^materiel$ /include/materials.inc.php [L]
RewriteRule ^questions$ /include/questions.inc.php [L]

RewriteRule ^avatars$ /include/avatars.inc.php [L]
RewriteRule ^avatars/([0-9]+)$ /include/avatars.inc.php?id=$1 [L]

RewriteRule ^utilisateurs$ /include/users.inc.php [L]
RewriteRule ^utilisateur/([0-9]+)$ /include/user.inc.php?id=$1 [L]

RewriteRule ^creer-patient$ /include/createpatient.php [L]
RewriteRule ^creer-chirurgie$ /include/createsurgery.php [L]

RewriteRule ^login$ /template/login.tpl.php [L]
RewriteRule ^login/([0-9]+)$ /include/connect.php?id=$1 [L]

RewriteRule ^disconnect$ /include/disconnect.php [L]