
RewriteEngine On

RewriteRule ^accueil$ /include/Index.inc.php
RewriteRule ^chirurgies$ /include/Surgeries.inc.php
RewriteRule ^patients$ /include/Patients.inc.php
RewriteRule ^materiel$ /include/Materials.inc.php
RewriteRule ^questions$ /include/Questions.inc.php

RewriteRule ^chirurgies/([0-9]+)$ /include/Surgery.inc.php?id=$1

RewriteRule ^login$ /template/login.tpl.php
RewriteRule ^disconnect$ /include/disconnect.php